/backend/config/master.key
/backend/log
/backend/tmp
/backend/.bundle
/backend/vendor/bundle
/backend/public/assets
/backend/public/packs
/backend/public/uploads
/backend/public/system
/backend/storage/

# Ignore Kamal deployment directory
/backend/.kamal/

# Ignore environment variables
**/.env

# Ignore log files
*.log
