name: RuboCop
description: Run backend linting checks

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.4'

      - name: Install dependencies (backend)
        working-directory: ./backend
        run: bundle install --jobs 4 --retry 3

      - name: Run RuboCop
        working-directory: ./backend
        run: bundle exec rubocop --parallel --format github
